@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins";
  overflow-x: hidden;
  overflow-y: scroll;
  
}
a{
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #d3d3d3; 
}

::-webkit-scrollbar-thumb {
  background: #000000; 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}
html {
  scrollbar-width: thin; 
  scrollbar-color: #000000 #d3d3d3;}

.container-with-scrollbar {
  overflow-y: scroll;
}

.container-with-scrollbar::-webkit-scrollbar {
  width: 8px; 
}

.container-with-scrollbar::-webkit-scrollbar-track {
  background: #979797; 
}

.container-with-scrollbar::-webkit-scrollbar-thumb {
  background: #141414;
  border-radius: 4px;
}

.container-with-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

.main-banner {
  background-image: url(assets/1633027720quinheader.webp);
  background-position: center;
  background-size: cover;
}
.breadcrumb {
  --bs-breadcrumb-divider: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/%3E%3C/svg%3E');
}

.btn-main {
  background-color: transparent;
  outline: 0 !important;
  cursor: pointer;
  transform: translateZ(0);
  position: relative;
  overflow: hidden;
  color: #fff;
  padding: 0px 15px 0px 20px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 13px;
  letter-spacing: -.025em;
  line-height: 0;
  display: inline-block;
  transition: color .3s cubic-bezier(.4, 0, .2, 1);
}

.btn-main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  transition: width .3s cubic-bezier(.4, 0, .2, 1);
  z-index: -1;
  /* To ensure the text stays on top */
}

.btn-main:hover {
  color: #000 !important;
}

.btn-main:hover::after {
  width: 100%;
}

.offcanvas-end {
  transition: transform 0.4s ease-in-out;
  width: 40% !important;
}

.offcanvas {
  transform: translateX(100%);
}

.offcanvas.show {
  transform: translateX(0%);
}

.offcanvas:not(.show) {
  transform: translateX(100%);
}

.offcanvas-header {
  border-bottom: 1px solid #444;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.offcanvas-body a {
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  font-size: 1.5rem;
}

.offcanvas-body .btn {
  margin: 20px 0;
}

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 10px;
}

.address {
  margin-top: 20px;
}

.btn-close {
  color: white !important;
}

.offcanvas-body1 {
  background-image: url(assets/sidebar-img\ \(2\).svg);
  background-size: contain;
  background-repeat: no-repeat
}

.dedicated-teams {
  position: relative;
  display: inline-block;
  font-size: 115px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.dedicated-teams::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0;
  clip: text;
  background-clip: text;

  background-size: cover;
}

.main-heading {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 90px;
}

.main-heading2 {
  font-size: 48px;
  font-weight: 700;
}
.main-headingfooter {
  font-size: 74px;
  font-weight: 600;
  line-height: 80px;
}
.Making-section {
  position: relative;

  color: transparent;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.Making-section1 {
  position: relative;

  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}
.Making-section2 {
  position: relative;
font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.carousel-item {
  display: flex;
}
.carousel-item > .col-md-4 {
  flex: 1;
}
.iconic{
  position: absolute !important;
    left: 117px;
    top: 30px;
}


body .slick-slide .slide-content {
  margin: 0 4%;
}
body .slick-list {
  margin: 20px 0px;
}
body .slick-prev,
body .slick-next {
  position: absolute;
  right: 10%;
  border: none;
  color: transparent;
  width: 30px;
  height: 30px;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
body .slick-prev:before,
body .slick-next:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f178";
  color: #fff;
  font-size: 25px;
}
body .slick-prev {
  left: 5%;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
body .slick-prev:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f177";
}
body .slick-dots {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
body .slick-dots li {
  display: inline-block;
}
  body .slick-dots li button {
    transition: 0.2s background-color ease-in-out 0s;
    border: none;
    padding: 0;
    color: transparent;
    width: 28px;
    height: 4px;
    background-color: #777;
    margin-right: 10px;
}
body .slick-dots li.slick-active button {
  background-color: #fff;
}
.card-inner-row2 {
  padding: 12px;
  background: #1414143a;
  background-image: url(https://dtlogics.com/public/images/media/1645685639aC831Q9.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 0px;
  transition: all 600ms ease;
  -webkit-transition: all 600ms ease;
  position: relative;
  overflow: hidden;
  
  }
  .card-inner-row2::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
  }
.card-inner-row {
padding: 12px;
background: #0a0a0a;
border-radius: 0px;
border: 1px solid #1e1e1e;
transition: all 600ms ease;
-webkit-transition: all 600ms ease;
position: relative;
overflow: hidden;
}
.card.featured.to-top-left {
position: relative;
z-index: 3;
width: 100%;
border-radius: 0px;
padding: 60px 30px 50px;
border: 1px solid #1e1e1e;
background-color: transparent;
transition: all 600ms ease;
-webkit-transition: all 600ms ease;
overflow: hidden;
display: block;
height: 100%;
opacity: .8;
}
.card {
position: relative;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
/* background-color: #fff; */
background-clip: border-box;
border: 1px solid rgba(0, 0, 0, .125);
border-radius: .25rem;
}
.card.featured.to-top-left  {
position: relative;
z-index: 5;
}
.heading-wrapper {
margin: 0 0 20px;
}
*, ::after, ::before {
box-sizing: border-box;
}
div {
display: block;
unicode-bidi: isolate;
}
.card {
position: relative;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0, 0, 0, .125);
border-radius: .25rem;
}
.card.featured.to-top-left h4.heading {
font-size: 24px;
color: #fff;
font-weight: 600;
margin-bottom: 10px;
text-align: left;
}
.card.featured.to-top-left h4.heading i {
color: transparent;
padding-bottom: 30px;
display: block;
font-size: 48px;
-webkit-text-stroke: 1px #fff;
}
.card.featured.to-top-left * {
position: relative;
z-index: 5;
}
.card.featured.to-top-left p {
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #d7d7d7;
margin-bottom: 10px;
}
.card.featured.to-top-left * {
position: relative;
z-index: 5;
}
.card-inner-row .project-button {
margin-top: 20px;
}
.project-button a {
font-size: 13px;
color: #fff;
text-transform: uppercase;
letter-spacing: 2px;
word-spacing: 1px;
position: relative;
display: inline-block;
padding-bottom: 10px;
}
.card-img {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
/* z-index: 3; */
opacity: 0;
-webkit-transition: opacity 0.5s;
-o-transition: opacity 0.5s;
transition: opacity 0.5s;
}
.card-img {
width: 100%;
border-radius: calc(.25rem - 1px);
}
.owl-carousel .owl-item img {
display: block;
width: 100%;
}
.card-img img {
height: 100%;
background-color: rgba(0, 0, 0, 0.644);
}
.project-box-div {
  position: relative;
  overflow: hidden;
}
.project-meta {
  padding-left: 30px;
  padding-bottom: 40px;
}

.project-number {
  font-size: 70px;
  line-height: 1;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  margin-top: -33px;
  position: relative;
  z-index: 2;
  opacity: .5;
  left: -10px;
}
.project-category span {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 4px;
  position: relative;
  display: block;
  padding: 0;
}
.project-button a {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 1px;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}
.project__text{
  text-decoration: none;
  font-size: 30px;
}
.testimonial-layout1 {
  padding: 50px 30px 35px 70px;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 6%);
  -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 6%);
  background-color: #fff;
  transition: all 600ms ease;
  -webkit-transition: all 600ms ease;
}
.testimonial-layout1:hover {
  background: #f9f9f9;
}
.testimonial-layout1 .item-figure {
  position: absolute;
  left: -50px;
  top: 70px;
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
}
blockquote.testimonial-slide {
  margin: 20px 0;
}
.testimonial-layout1 .item-figure img {
  border-radius: 50%;
  max-width: 90px;
}

.testimonial-layout1 .item-content {
  flex: 1;
}
.testimonial-layout1 .item-content .item-title {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 24px;
}
.testimonial-layout1 .item-content .item-sub-title {
  color: #000;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 2px;
  position: relative;
  display: block;
  padding: 0;
  margin-top: 7px;
}
.testimonial-layout1 .item-paragraph p {
  color: #4c4c4c;
  font-size: 15px;
  line-height: 24px;
}
.parent-typed-text {
  font-size: 36px;
  color: #ffffff00;
  font-weight: 600;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}
.typedtext-1{
font-size: 36px;
font-weight: 600;
color: white;
}
.typed-cursor {
  font-size: 36px;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0);
}
.testimonial-section .owl-stage-outer {
  cursor: grab;
  cursor: -webkit-grab;
}
.testimonial-layout1:before {
  content: "\f10e";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  z-index: -1;
  right: 30px;
  top: 50%;
  font-size: 120px;
  opacity: .04;
  color: #000;
  transform: translateY(-50%);
}
.img-invert{
  filter: invert(1) brightness(3.5);
}
.img-invert:hover{
  transform-style:preserve-3d;
  transform: scale(1.1) rotate(3deg);
}
.venor-team {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
  height: 350px;
}

/* Fun Facts Section Styles */
#fun-facts {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.fun-facts-heading {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.fun-facts-subheading {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
  color: #777;
}

.fun-facts-timer .col-md-3 {
  margin-bottom: 20px;
}

.radial {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

/* .radial:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
} */

@keyframes slideInUp {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.animated-content1 > * {
  opacity: 0;
  transform: translateY(50px);
}

.animated-content1.visible > * {
  animation: slideInUp 1s ease-out forwards;
}
.animated-content4 > * {
  opacity: 0;
  transform: translateY(50px);
}

.animated-content4.visible > * {
  animation: slideInUp 1s ease-out forwards;
}

.animated-content5 > * {
  opacity: 0;
  transform: translateY(50px);
}

.animated-content5.visible > * {
  animation: slideInUp 1s ease-out forwards;
}
.animated-content6 > * {
  opacity: 0;
  transform: translateY(50px);
}

.animated-content6.visible > * {
  animation: slideInUp 1s ease-out forwards;
}
.animated-content7 > * {
  opacity: 0;
  transform: translateY(50px);
}

.animated-content7.visible > * {
  animation: slideInUp 1s ease-out forwards;
}
.animated-content2 > * {
  opacity: 0;
  transform: translateY(50px);
}

.animated-content2.visible > * {
  animation: slideInUp 1s ease-out forwards;
}
.animated-content3 > * {
  opacity: 0;
  transform: translateY(50px);
}

.animated-content3.visible > * {
  animation: slideInUp 1s ease-out forwards;
}
.animated-content > * {
  opacity: 0;
  transform: translateY(50px);
}

.animated-content.visible > * {
  animation: slideInUp 1s ease-out forwards;
}

.animated-content.visible > *:nth-child(1) {
  animation-delay: 0.1s;
}

.animated-content.visible > *:nth-child(2) {
  animation-delay: 0.3s;
}

.animated-content.visible > *:nth-child(3) {
  animation-delay: 0.5s;
}

.animated-content.visible > *:nth-child(4) {
  animation-delay: 0.6s;
}

.animated-content.visible > *:nth-child(5) {
  animation-delay: 1s;
}

.animated-content.visible > *:nth-child(6) {
  animation-delay: 1.2s;
}

.animated-content.visible > *:nth-child(7) {
  animation-delay: 1.4s;
}

.animated-content.visible > *:nth-child(8) {
  animation-delay: 1.6s;
}

.animated-content.visible > *:nth-child(9) {
  animation-delay: 1.8s;
}

.image-section, .image-section1, .image-section2, .image-section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  overflow: hidden;
}

.image-section img, .image-section1 img, .image-section2 img, .image-section3 img {
  transition: transform 0.5s ease-out;
  transform: translateY(0); 
}

.image-section img.move-up, .image-section1 img.move-up, .image-section2 img.move-up, .image-section3 img.move-up {
  transform: translateY(-10px);
}

.image-section img.move-down, .image-section1 img.move-down, .image-section2 img.move-down, .image-section3 img.move-down {
  transform: translateY(10px); 
}
.radial-icon {
  font-size: 60px;
  color: #d8d8d867;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.timer {
  font-size: 36px;
  font-weight: 700;
  color: #33333300;
  -webkit-text-stroke: #000 1px;
}

.radial h4 {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

[data-sr-id] {
  visibility: visible;
  -webkit-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s;
  transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s;
}


.thumbnail {
  position: relative;
  height: 100%;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.thumbnail:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #11111173, #000 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.venor-team:hover .thumbnail:before {
  opacity: 1;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px); /* Start below the visible area */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.social-icon {
  position: absolute;
  top: 0;
  left: 20px;
  width: 100%;
  padding: 20px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.venor-team:hover .content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.venor-price-box:not(.premium-pricing) {
  margin-top: 30px;
}
.venor-price-box {
  padding: 20px 20px 45px;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0 7px 8px 0 rgb(0 0 0 / 6%);
  box-shadow: 0 7px 8px 0 rgb(0 0 0 / 6%);
  border: 1px solid #222227;
}

.price-heading {
  font-size: 40px;
}
.plan-features ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.plan-features ul li {
  padding: 15px;
  border-bottom: 1px solid #222227;
  font-size: 15px;
  color: #fff;
}
.venor-price-box .project-button {
  margin-top: 30px;
}
.project-button a {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 1px;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}
.project-button a::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  background: #fff;
  bottom: 5px;
  left: 0;
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(1);
  height: 1px;
}
.project-button svg {
  width: 20px;
  height: 20px;
  transition: all 0.6s cubic-bezier(0.5, 0.2, 0.1, 1.14);
  display: inline-block;
  top: -5px;
  margin-left: 2px;
  position: absolute !important;
}
.project-button svg * {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}
.plan-ribbon {
  background: #fff;
  box-shadow: none;
  text-shadow: none;
  color: #000;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  position: absolute;
  top: 17px;
  left: auto;
  right: -55px;
  width: 55%;
  transform: rotate(36deg);
  padding: 7px 0;
  font-size: 13px;
}
.venor-team:hover .social-icon {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); 
}

.content {
  color: #fff;
  padding: 15px;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.position {
  color: #d6d8e0;
  font-size: 16px;
  line-height: 20px;
}
.widget_element {
  margin-bottom: 50px;
  width: 100%;
  font-size: 15px;
  padding: 0px 30px 30px;
  box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 5%);
  -webkit-box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 5%);
  -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .05);
  background: #0F0F0F;
  border-radius: 12px;
  border: 1px solid #222227;
  overflow: hidden;
}
.widget-title {
  position: relative;
  margin: 0px -30px 25px;
  padding: 20px;
  font-size: 20px;
  color: #ffffff;
  background: #000;
  border-radius: 12px 12px 0px 0px;
  font-weight: 500;
}
.bg-inner img {
  width: 70px;
  height: 68px;
  background-color: white;
  border-radius: 50%;
  margin-top: 11px;
  margin-left: 1px;
}
.feature-card h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  padding-top: 15px;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 14px !important;
  line-height: 24px;
  font-weight: 400;
  color: #E7E7E7;
  max-width: 300px;
  margin: 0 auto 0px;
}
.html-widget-paragraph {
  font-size: 15px;
  color: #bdbdbd;
  line-height: 24px;
  display: block;
  text-align: left;
  margin-bottom: 25px;
}
.btn-style1 {
  border-color: #fff;
  color: #fff;
}
.social-icon {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 10px 0 0 0;
}

.social-icon li {
  margin-right: 10px;
}

.social-icon li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icon li a:hover {
  color: #f0f0f0;
}
.footer-section .footer-wrapper {
  position: relative;
}
.footer-section .footer-wrapper > .row {
  margin: 0;
}
.footer-section .footer-wrapper .col-lg-6 {
  padding: 0;
}
.footer-section .footer-left {
  padding: 120px 120px 100px;
  position: relative;
  z-index: 2;
  border-top-right-radius: 12px;
  background-image: linear-gradient(-145deg, #000 10%, #121212 100%);
}
.footer-section .footer-left::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(https://dtlogics.com/img/pattern-1.png);
  content: "";
  z-index: 1;
  opacity: .5;
  border-top-right-radius: 6px;
}
.footer-section .inner {
  z-index: 5;
  position: relative;
  text-align: center;
}
.footer-section .inner > span {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 4px;
  position: relative;
  display: block;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 30px;
}
.footer-section .inner h4 {
  margin-left: auto;
  color: #fff;
  font-size: 74px;
  font-weight: 600;
  line-height: 80px;
  margin-right: auto;
  max-width: 500px;
  margin-bottom: 30px;
}
.footer-section .footer-right {
  background-image: url(https://dtlogics.com/img/pattern-2.jpg);
  padding: 50px 50px 100px 70px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-left: 120px;
  border-radius: 0px 0 0;
  position: relative;
  z-index: 1;
}
.footer-section .footer-right::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #000;
  opacity: .8;
}
.footer-section h4.title {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
span.venor-animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #fff;
  overflow: hidden;
  opacity: .1;
  margin-bottom: 25px;
}
span.venor-animate-border::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 15px;
  bottom: 0;
  border-left: 10px solid #000;
  border-right: 10px solid #000;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}
@keyframes animborder{
  0% {
    transform: translateX(0);
}
100% {
    transform: translateX(113px);
}
}
.footer-section .menu-quick-link-container ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.footer-section h4.title {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
span.venor-animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #fff;
  overflow: hidden;
  opacity: .1;
  margin-bottom: 25px;
}
.footer-section ul.ft-link {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-section .social-share-inner ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}
.footer-section .footer-right .col-lg-12 {
  padding: 0;
}

.footer-section .copyright-text p {
  color: #d7d7d7;
  margin: 0;
  left: 0;
  font-size: 15px;
  line-height: 24px;
}
strong {
  font-weight: 600;
}
.footer-section .menu-quick-link-container ul li a {
  color: #d7d7d7;
  font-size: 15px;
  padding: 7px 0;
  display: block;
  text-decoration: none;
}
.footer-section ul.ft-link li a {
  color: #d7d7d7;
  font-size: 15px;
  padding: 7px 0;
  display: block;
  text-decoration: none;
}
.footer-section .social-share-inner ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  opacity: .7;
}

.contant-section-page {
  padding: 90px 0;
  border-bottom: 1px solid #222227;
  border-top: 1px solid #222227;
}
.contant-section-page .contact-element-wrapper {
  box-shadow: 0 25px 70px rgb(0 0 0 / 7%);
  -webkit-box-shadow: 0 25px 70px rgb(0 0 0 / 7%);
  background: #222227;
  padding: 40px;
  border-radius: 12px;
  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  border: 1px solid #222227;
}
.contant-section-page .contact-element {
  display: flex;
}
.contant-section-page .icon2 {
  display: inline-flex;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 23px;
  display: inline-flex;
  margin-right: 20px;
  color: #bdbdbd;
}
.contant-section-page .content2 h3 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: 500;
  color: #bdbdbd;
  margin-top: 0;
  margin-bottom: 10px;
}
.content2 p a {
  margin: 0;
  font-size: 14px;
  line-height: 25px;
  color: #bdbdbd;
  display: block;
  text-decoration: none;
}
.contant-section-page .contact-element-wrapper p{
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.contant-section-page .contact-element-wrapper:hover {
  background: #000;
  box-shadow: 0 10px 25px 10px rgb(0 0 0 / 10%);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
textarea.form-control {
  height: 150px !important;
}
::placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder { 
  color: white;
}
.accordion{
  width: 100%;
  background-color: black !important;
  color: White !important;
}
.accordion-body{
  background-color: black !important;
  color: white;
}
.accordion-button{
  background-color: black !important;
  color: white !important;
}
#map{
  filter: grayscale(100%) brightness(60%);
}
@media (max-width:1024px) {
  .footer-section .footer-left {
    padding: 120px 55px 100px;
  }
  .main-heading {
    font-size: 80px;
    font-weight: 700;
    line-height: 100px;
  }

  .dedicated-teams {
    font-size: 80px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 40px;
    font-size: 10px !important;
  }

  .carousel-item {
    padding-left: 1.5rem;
  }
}
.container {
  max-width: 1180px;
}


@media (max-width:992px) {
  .carousel-item {
    padding-left: 2.2rem;
  }
}

@media (max-width:768px) {
  .main-heading {
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
  }

  .dedicated-teams {
    font-size: 60px;
    -webkit-text-stroke: 0.5px white;
  }

  .carousel-item {
    padding-left: 2.2rem;
  }

  .offcanvas-end {
    width: 80% !important;
  }

  .mbtn1 {
    display: none;
  }
}

@media (max-width:425px) {
  .image-section, .image-section1, .image-section2, .image-section3 {
    height: 300px;
  }
  .image-section img, .image-section1 img, .image-section2 img, .image-section3 img {
   width: 100%;
  }
  .footer-section .inner h4 {
    font-size: 50px;
  }
  .offcanvas-body {
    padding-top: 50px;
  }
  .offcanvas-end {
    width: 100% !important;
  }
  .main-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
  }

  .dedicated-teams {
    font-size: 50px;
    -webkit-text-stroke: 0.5px white;
  }

  .carousel-item {
    padding-left: 2rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 20px;
  }

}